<configuration>
    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set root logging level -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Custom logging level for your application package -->
    <logger name="com.example" level="DEBUG" />
</configuration>